@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
ato-thin {
    font-family: "Lato", serif;
    font-weight: 100;
    font-style: normal;
}

.Lato-light {
    font-family: "Lato", serif;
    font-weight: 300;
    font-style: normal;
}

.Lato-regular {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;
}

.Lato-bold {
    font-family: "Lato", serif;
    font-weight: 700;
    font-style: normal;
}

.Lato-black {
    font-family: "Lato", serif;
    font-weight: 900;
    font-style: normal;
}

.Lato-thin-italic {
    font-family: "Lato", serif;
    font-weight: 100;
    font-style: italic;
}

.Lato-light-italic {
    font-family: "Lato", serif;
    font-weight: 300;
    font-style: italic;
}

.Lato-regular-italic {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: italic;
}

.Lato-bold-italic {
    font-family: "Lato", serif;
    font-weight: 700;
    font-style: italic;
}

.Lato-black-italic {
    font-family: "Lato", serif;
    font-weight: 900;
    font-style: italic;
}